.container {
  width: 100%;
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.content-wrapper {
  width: 100%;
  max-width: 1200px;
  background-color: #f87d6b;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  padding: 30px;
  font-family: 'Montserrat', sans-serif;
  overflow-x: auto;
}

.table-container {
  width: 100%;
}
.action-buttons {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: flex-start;
}


h2 {
  color: #ffffff;
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #ffffff;
  color: #2b2b2b;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  padding: 12px;
  border-bottom: 2px solid #dddddd;
}

td {
  background-color: #fff8f6;
  color: #333;
  font-size: 16px;
  padding: 12px;
  border-bottom: 1px solid #e0e0e0;
}

tr:hover td {
  background-color: #f1f1f1;
}

.mat-elevation-z8 {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  th, td {
    font-size: 14px;
    padding: 10px;
  }

  h2 {
    font-size: 1.5rem;
  }
}


.snack-bar-success {
  background-color: green;
  color: white;
}

.snack-bar-error {
  background-color: red;
  color: white;
}