/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Montserrat", serif;
  color: black;
}

/* Estilos personalizados para las alertas */

.snack-bar-success {
  background-color: #4caf50; /* Verde para éxito */
  color: white;
  font-weight: bold;
}

.snack-bar-error {
  background-color: #f44336; /* Rojo para error */
  color: white;
  font-weight: bold;
}

.snack-bar-info {
  background-color: #2196f3; /* Azul para información */
  color: white;
  font-weight: bold;
}

.snack-bar-warning {
  background-color: #ffeb3b; /* Amarillo para stock bajo */
  color: black;
  font-weight: bold;
}

.snack-bar-danger {
  background-color: #d32f2f; /* Rojo para sin stock */
  color: white;
  font-weight: bold;
}
